<launch>
    <arg name="device" default="/dev/video0" />

    <node name="microsoft_lifecam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="$(arg device)" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <param name="camera_name" value="microsoft_lifecam" />
    </node>

    <!--node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="autosize" value="true" />
    </node-->

    <node name="cameracalibrator" pkg="camera_calibration" type="cameracalibrator.py" args="--size 8x6 --square 0.108" output="screen" >
        <remap from="image" to="/microsoft_lifecam/image_raw" />
        <param name="camera" value="/microsoft_lifecam" />
    </node>
</launch>
